#map_canvas {
    position: absolute;
    height: 90%;
    width: 100%;
}

.readonlyInfoDiv {
    height: 110px;
    width: 220px;
    -webkit-user-select: none;
    background-color: white;
}

.readonlyLineInfoDiv {
    height: 80px;
    width: 220px;
    -webkit-user-select: none;
    background-color: white;
}

.searchInfoDiv {
    height: 140px;
    width: 220px;
    -webkit-user-select: none;
    background-color: white;
}