@using Chilicki.Commline.UserInterface.Resources
@using Chilicki.Commline.Application.Enums

<div>
    @Html.Partial("~/Views/Shared/_Map.cshtml", new ViewDataDictionary(new Microsoft.AspNetCore.Mvc.ModelBinding.EmptyModelMetadataProvider(), new Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary()) { { "viewName", BaseResources.HomePage }, { "settings", ViewBag.Settings } })
</div>

<script>
    $(document).ready(function () {
        $("#toolboxButton").hide();
        $("#saveModification").hide();
        $("#searchButton").hide();
        if (currentView === '@CommlineViewType.Search')
            loadAllStops();
        else 
            loadAllLines();
    });
</script>