@using Chilicki.Commline.UserInterface.Resources

<div>
    @Html.Partial("~/Views/Shared/_Map.cshtml", new ViewDataDictionary { { "viewName", BaseResources.HomePage } })
</div>

<script>
    $(document).ready(function () {
        $("#toolboxButton").hide();
        $("#saveModification").hide();
        $("#searchButton").hide();
    });
</script>